

body{

    background-image: url("../images/illumina.jpg");
    


}


.wrap{

    width: 989px; 
    margin:70px auto;
    background-color: transparent;
 /*this will be  the distance  of the top of the section to the .container wrapper */ 
    padding:5px ;





}