
body{
 
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(144, 144, 143, 0.5)),
                                     url("../images/gecko.png");
                    
    


}


header{

    height:150px;    
}




header nav {

    float:right;
    margin-right:300px;
    margin-top: 100px;
    
}

header nav li{
    display: inline;
    font-size:12px;

    margin:20px;
    

   
}



header nav  a {
    
    
    text-decoration: none;
    color :rgb(255, 60, 0);


}

header nav a:hover{

    text-decoration:underline;
    color:yellow;
}












.wrap{

    width: 800px; 
    margin:70px auto;
    background-color: transparent;
 /*this will be  the distance  of the top of the section to the .container wrapper */ 
    padding:5px ;
    color:white;

}


.image1stsection{
    margin-top:30px;
    
}

#first_rowpics{
    margin:20px;
    width: 220px;
    

}



footer{

    width:600px;
    margin:15px auto;
    color :rgb(255, 60, 0);
    font-size: medium;
    text-align: center;
    
   

}



